<h2>Paises</h2>
<hr>

<ul  class="list-group">

    <!-- <li class="list-group-item" 
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    >
        Home Page
    </li>

    <li class="list-group-item "
    routerLinkActive="active"
    routerLink="/about">
        About Page
    </li>

    <li class="list-group-item "
    routerLinkActive="active"
    routerLink="/contact">
        Contact Page
    </li> -->

    <li class="list-group-item "
    routerLinkActive="active"
    routerLink="countries/by-capital">
        Por capital
    </li>

    <li class="list-group-item "
    routerLinkActive="active"
    routerLink="countries/by-country">
        Por pais
    </li>

    <li class="list-group-item "
    routerLinkActive="active"
    routerLink="countries/by-region">
        Por region
    </li>
    
</ul>