<h2>Por region</h2>

<hr>

<div class="row">

    <div class="col text-center">
        <!-- Search box -->

        @for (item of regions; track $index) {

            <button class="btn mx-2" 
            [ngClass]="{'btn-outline-primary': selectedRegion === item}"
            (click)="searchByRegion(item)" 
            >
                {{ item }}
            </button>
        }

        <hr>

    </div>
    
</div>

<div class="row">
    <div class="col">

        <app-country-table [countries]="countries" ></app-country-table>

    </div>
</div>