<h2>Por capital</h2>
<hr>

<div class="row">

    <div class="col">
        <!-- Search box -->
<!--         (onValue)="searchByCapital($event)"-->            
        <app-search-box
            placeholder="Buscar por capital"
            (onDebounce)="searchByCapital($event)"
            [initialValue] = "initialValue"
        ></app-search-box>
            <hr>
    </div>
    
</div>

<div class="row">
    <div class="col">

        <hr>

        @if (isLoading) {
            <app-loading-spinner></app-loading-spinner>
        }

        <app-country-table [countries]="countries" ></app-country-table>

    </div>
</div>