<h2>Por capital</h2>
<hr>

<div class="row">

    <div class="col">
        <!-- Search box -->
            <app-search-box
            placeholder="Buscar por capital"
            (onValue)="searchByCapital($event)"
            ></app-search-box>
            <hr>
    </div>
    
</div>

<div class="row">
    <div class="col">

        
        <ul>
            @for (item of countries; track $index) {

                <li>
                    {{ item.capital }} - {{ item.population }}
                </li>
            }
        </ul>


    </div>
</div>